* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container-fullwidth {
    padding-top: 10px;
    background-color: #0d325a;
}

.container {
    width: 80%;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.banner {
    height: 424px;
    position: relative;
}

.banner::after {
    content: url('https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png');
    position: absolute;
    left: 60%;
    transform-origin: 0 0;
    transform: scale(.5) translate(-70px,25px);
}

.hoverorange:hover {
    color: orange;
}

.button {
    border: 1px solid lightblue;
    border-radius: 3px;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.greenbutton {
    background-color: #7fb802;
    border: none;
}

/* styling header  */
header {
    margin: 0;
    height: 70px;
    text-transform: uppercase;
    font-weight: bolder;
}

.logonav {
    height: 70px;
    width: 18%;
    position: relative;
    float: left;
}

.logofluentify {
    padding-left: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
}


.navbarlinks {
    height: 70px;
    width: 60%;
    float: left;
    position: relative;
}

.linksnav {
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
}

.linksnav a {
    margin-left: 10px;
    font-size: 10px;
    text-decoration: none;
    color: white;
}

.navbarlinklogin {
    width: 22%;
    height: 70px;
    float: left;
    position: relative;
}

#tutor {
    color: grey;
    position: relative;
    left:200px
}

/* end styling header */
.grigio {
    background-color: #f9f9f9;
}

.bianco {
    background-color: white;
}

.riga-grigia {
    height: 150px;
    background-color: #f9f9f9;
    position: relative;
    font-size: 25px;
}

.riga-bianca {
    height: 800px;
    background-color: white;
    width: 100%;

}

.textcards {
    margin-top: 40px;
    text-align: center;
}

.green {
    color: #7fb802;
    font-size: 25px;
    font-weight: bolder;
}

hr {
    margin: 0 auto;
    margin-top: 15px;
    color: grey;
    width: 15px;
}

.centratura {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* inizio styling cards */
.cards {
    width: 33.3333%;
    float:left;
    /* da cancellare */
    height:30%;
    position: relative;
}

#profile {
    height: 160px;
    margin-top: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#computer {
    height: 143px;
    margin-top: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#doc {
    height: 152px;
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* fine styling cards */

/* inizio styling banner */


.testoimportante {
    height: 70px;
    width: 50%;
    float: left;
    color: white;

}

.testopulsante {
    padding-left: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
}

.testopulsante a {
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    padding: 12px 20px;
}

h1 {
    font-size: 40px;
}

/* fine styling banner */

#testogrigio {
    margin-top: 10px;
    color: grey;
    font-size: 15px;
}

.borderc {
    height:18%;
}

.borderf {
    border-bottom: 2px solid #999999;
}

.greyns {
    color: #999999;
}
